@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  box-sizing: border-box;
  cursor: url(https://i.imgur.com/Ez5R4pF.png), default !important;
}


body {
  font-family: -apple-system, sans-serif;
  margin: 0 auto;
}

.dark{
  background-color: #0C0A09;
}

.ads::-webkit-scrollbar {
  width: 0px !important;
}

.ads::-webkit-scrollbar-track {
  background: transparent !important;
}

.ads::-webkit-scrollbar-thumb {
  background: transparent !important;
}

/* scroll custom */

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.dark ::-webkit-scrollbar-track {
  background: #0C0A09;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

.dark ::-webkit-scrollbar-thumb {
  background: #2e2e2e;
}

::-webkit-scrollbar-thumb:hover {
  background: #FF4F00;
}

.chat::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.chat::-webkit-scrollbar-thumb {
  background: #FF4F00;
}